{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('core.static', filename='css/news.css', v='1.0.1') }}">
{% endblock %}

{% block content %}
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form method="POST" action="{{ url_for("core.NewsView:put", id=id, __METHOD_OVERRIDE__="PUT") }}">
          {{ login_form.hidden_tag() }}
          {{ wtf.form_errors(newsitem_form, hiddens="only") }}

          {{ wtf.form_field(newsitem_form.title) }}
          {{ wtf.form_field(newsitem_form.body) }}
          {{ wtf.form_field(newsitem_form.active) }}
          {{ wtf.form_field(newsitem_form.pledge) }}
          {{ wtf.form_field(newsitem_form.everyone) }}
          {{ wtf.form_field(newsitem_form.submit) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}